@inject ApiService ApiService
@inject NavigationManager NavigationManager
@attribute [Authorize]

@page "/cars"

<PageTitle>Moje samochody</PageTitle>

@if (cars is null)
{
    <span>Ładowanie danych...</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Producent</th>
                <th>Model</th>
                <th>Rok</th>
                <th>Rejestracja</th>
                <th>VIN</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in cars)
            {
                <tr>
                    <td>@car.Producent</td>
                    <td>@car.Model</td>
                    <td>@car.ProductionYear</td>
                    <td>@car.RegistrationNumber</td>
                    <td>@car.VIN?.ToUpper()</td>

                    <td>
                        <button @onclick="() => EditCar(car.Id)" class="btn btn-secondary">
                            Edytuj
                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
<p>
    <button @onclick="AddNewCar" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-node-plus-fill" viewBox="0 0 16 16">
            <path d="M11 13a5 5 0 1 0-4.975-5.5H4A1.5 1.5 0 0 0 2.5 6h-1A1.5 1.5 0 0 0 0 7.5v1A1.5 1.5 0 0 0 1.5 10h1A1.5 1.5 0 0 0 4 8.5h2.025A5 5 0 0 0 11 13m.5-7.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2a.5.5 0 0 1 1 0" />
        </svg>Dopisz
    </button>
</p>

@code {
    private List<Car> cars = new List<Car>();

    protected override async Task OnInitializedAsync()
    {
        cars = await ApiService.GetAsync<List<Car>>("/Car/Cars");
    }

    private async Task AddNewCar()
    {
        NavigationManager.NavigateTo("/Car/");
    }

    void EditCar(int id) => NavigationManager.NavigateTo($"/Car/{id}");
}
