@inject ApiService ApiService
@inject NavigationManager NavigationManager
@attribute [Authorize]

@page "/history"

<PageTitle>Moje tankowania</PageTitle>
<h3>Moje tankowania</h3>

@if (invoices is null)
{
    <span>Ładowanie danych...</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Ilość w litrach</th>
                <th>Rodzaj paliwa</th>
                <th>Cena za litr</th>
                <th>Cena całkowita</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in invoices)
            {
                <tr>
                    <td>@invoice.RefuelingDate.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@invoice.RefueledLitersAmount</td>
                    <td>@invoice.FuelType.ToDescription()</td>
                    <td>@invoice.PricePerLiter.ToStringPLN()</td>
                    <td>@invoice.TotalPrice.ToStringPLN()</td>

                    <td>
                        <button @onclick="() => EditInvoice(invoice.Id)" class="btn btn-secondary">
                            Edytuj
                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
<p>
    <button @onclick="AddNewInvoice" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-node-plus-fill" viewBox="0 0 16 16">
            <path d="M11 13a5 5 0 1 0-4.975-5.5H4A1.5 1.5 0 0 0 2.5 6h-1A1.5 1.5 0 0 0 0 7.5v1A1.5 1.5 0 0 0 1.5 10h1A1.5 1.5 0 0 0 4 8.5h2.025A5 5 0 0 0 11 13m.5-7.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2a.5.5 0 0 1 1 0" />
        </svg>
        Dopisz
    </button>
</p>

@code {
    private List<Invoice> invoices = new List<Invoice>();

    protected override async Task OnInitializedAsync()
    {
        var userId = await (AuthStateProvider as CustomAuthenticationStateProvider)!.GetUserId();
        invoices = await ApiService.GetAsync<List<Invoice>>($"/invoice/{userId.ToString()}");
    }

    private async Task AddNewInvoice() => NavigationManager.NavigateTo("/invoice");
    private void EditInvoice(int id) => NavigationManager.NavigateTo($"/invoice/{id}");
}
