@inject ApiService ApiService
@inject NavigationManager NavigationManager
@attribute [Authorize]

@page "/history"

<PageTitle>Moje tankowania</PageTitle>
<h3>Moje tankowania</h3>

@if (invoices is null)
{
    <span>Ładowanie danych...</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Litrów</th>
                <th>Typ </th>
                <th>Cena za litr</th>
                <th>Cena całkowita</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in invoices)
            {
                <tr>
                    <td>@invoice.RefuelingDate.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@invoice.RefueledLitersAmount</td>
                    <td>@invoice.FuelType</td>
                    <td>@invoice.PricePerLiter.ToStringPLN()</td>
                    <td>@invoice.TotalPrice.ToStringPLN()</td>
                    <td><button @onclick="() => EditInvoice(invoice.Id)" class="btn btn-secondary">Edytuj</button></td>
                </tr>
            }
        </tbody>
    </table>
}
<p>
    <button @onclick="AddNewInvoice" class="btn btn-primary">Dodaj</button>
</p>

@code {
    private List<Invoice> invoices = new List<Invoice>();

    protected override async Task OnInitializedAsync()
    {
        invoices = await ApiService.GetAsync<List<Invoice>>("/invoice");
    }

    private async Task AddNewInvoice()
    {
        NavigationManager.NavigateTo("/invoice");
    }

    void EditInvoice(int id) => NavigationManager.NavigateTo($"/invoice/{id}");
}
